<!-- Footer -->
<footer class="page-footer font-small grey darken-3 ">

  <!-- Footer Elements -->
  <div class="container py-4">

    <!-- Grid row-->

    <div class="links row">
      <!-- GitHub +-->

        <a class="git-ic col-6 col-md-3" href="https://github.com/ClementPoueyto" target="_blank">
          <mdb-icon fab fab icon="github" size="2x" class="white-text "></mdb-icon>
        </a>
        <!--Linkedin -->
        <a class="li-ic col-6 col-md-3" href="https://www.linkedin.com/in/cl%C3%A9ment-poueyto-743429180/" target="_blank">
          <mdb-icon fab icon="linkedin" size="2x" class="white-text"></mdb-icon>
        </a>
        <!--Email-->
        <div class="mail-ic col-6 col-md-3">
          <mdb-icon fas icon="envelope" size="2x" class="white-text d-block text-center"></mdb-icon>
          <p class="d-block">clement.poueyto@etu.unice.fr</p>
        </div>
        <!--Numero-->
        <div class="num-ic col-6 col-md-3">
          <mdb-icon fas icon="mobile-alt" size="2x" class="white-text d-block text-center"></mdb-icon>
          <p class="d-block">+33.6.58.01.80.24</p>
        </div>

    </div>
  </div>


    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019-{{date}} Copyright:
      <a href="/">Poueyto Clément</a>
    </div>
    <!-- Copyright -->

</footer>
