<section id="competences">
  <br>
  <br>
  <h2>
    <strong>Compétences</strong>
  </h2>
  <br>
  <h3>
    <strong>Langages</strong>
  </h3>
  <br>
      <div class="align">
        <div *ngFor="let competence of competences">
          <div  id="progLanguage" *ngIf="competence.skillType=='programming'">
            <app-competence-logo [competence]="competence"></app-competence-logo>
        </div>
      </div>
  </div>
  <h3>
    <strong>Frameworks</strong>
  </h3>
  <br>
      <div class="align">
        <div *ngFor="let competence of competences">
          <div style="padding:30px" *ngIf="competence.skillType=='framework'">
            <app-competence-logo [competence]="competence"></app-competence-logo>

        </div>
      </div>
  </div>
  <h3>
    <strong>Outils</strong>
  </h3>
  <br>
      <div class="align">
        <div *ngFor="let competence of competences">
          <div style="padding:30px" *ngIf="competence.skillType=='tool'">
            <app-competence-logo [competence]="competence"></app-competence-logo>

        </div>
      </div>
  </div>
  <h3 >
    <strong>DevOps</strong>
  </h3>
  <br>
      <div class="align">
        <div *ngFor="let competence of competences">
          <div style="padding:30px" *ngIf="competence.skillType=='devops'">
            <app-competence-logo [competence]="competence"></app-competence-logo>

        </div>
    </div>
  </div>
  <h3 >
    <strong>Langues</strong>
  </h3>
  <br>
      <div class="align">
        <div *ngFor="let competence of competences">
          <div style="padding:30px" *ngIf="competence.skillType=='language'">
            <app-competence-logo [competence]="competence"></app-competence-logo>

        </div>
    </div>
  </div>

</section>
