.cardDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

app-experience-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

strong{
  margin: 10px;
}

h2{
  display: flex;
  justify-content: center;
}

section{
  padding-top: 50px;
  min-height: 100vh;
}





#formations{
  width:100%;
}





