#profilePhoto{
  margin-top:30px;

}

#profilePhoto > img {
  border-radius: 50%;
}

#profile{
  height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: white;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0.6;

}

.align{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

svg{
  margin-bottom: 10px;
  display: flex;
    justify-content: center;
    align-items: center;
}

a{
  margin : 10px
}

.links{
  width: 50%;
  margin-bottom: 40px;
  height: 80px;
  display: flex;
  flex-direction: row;
    justify-content: space-around;
}


h1{
  font-size: 40px;
}
h3{
  font-size: 25px;
}
h4{
  font-size: 20px;
}
