
  
  mat-card{
    width: 70%;
    margin:15px 0px 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  h2,h3{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  p{
    text-align: center;
  }

  #text-card-formation{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:100%;
  
  }
  
  
  img{
     object-fit:contain;
    width: 100%;
    max-width: 350px;
    height: 300px;
    margin:8px 0px 8px 0px;
  }



  #text-card-experience{
    width: 60%;
  }
  
  
  
  